{% extends "layouts/base.jinja" %}
{% block title %}Login Verification{% endblock %}
{% block content %}
<p>Hello {{ full_name }},</p>
<p>Enter this otp to login</p>
<code>{{otp}}</code>
{% endblock %}