{% extends "layouts/base.jinja" %}
{% block title %}Register Verification{% endblock %}
{% block content %}
<p>Hello {{ email }},</p>
<p>Enter this otp to complete your registration</p>
<code>{{otp}}</code>
{% endblock %}