{% extends "layouts/base.jinja" %}
{% block title %}Password reset success{% endblock %}
{% block content %}
<p>Hello {{ full_name }},</p>
<p>Your password has been reset</p>
<p>If you did not reset your password, please contact support.</p>
{% endblock %}