{% extends "layouts/base.jinja" %}
{% block title %}Reset Password Verification{% endblock %}
{% block content %}
<p>Hello {{ username }},</p>
<p>You requested to reset your password. Here is your otp:</p>
<code>{{otp}}</code>
{% endblock %}