{% extends "layouts/base.jinja" %}
{% block title %}Email Notification{% endblock %}
{% block content %}
<p>Hello {{ full_name }},</p>
<p>This is your notification email with custom content!</p>
{% endblock %}